body {
    margin: 0;
}

p {
    display: inline-block;
    padding: 0px 10px; 
}

.redCol{
    color: red;
}
.blueCol{
    color: blue;
}
.greenCol{
    color: green;
}

.tool{
    border: 1px solid black;
}