body {
    margin: 0;
}

.margin-1 {
    margin: 1rem;
}

.margin-1 p {
    display: inline-block;
}

#colIndicator {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid black;
}

.redCol {
    color: red;
}

.blueCol {
    color: blue;
}   

.greenCol {
    color: green;
}

.tool {
    border: 1px solid black;
}